@import "variables.scss";

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

a {
    color: #1D71B0;

    &:hover {
        text-decoration: none;
    }
}

body {
    background: $base-ui;
    color: $base-text;
    font: 16px/1 'Quattrocento Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Quattrocento', serif;
}

input {
    font-family: 'Quattrocento Sans', sans-serif;
}